body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}
ul {
  list-style: none;
}

.navigation-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration-line: none;
}
.navigation-studio:hover,
.navigation-studio:focus {
  color: #404bbf;
}

.navigation-studio {
  text-decoration-line: underline;
}

.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration-line: none;
}
.navigation:hover,
.navigation:focus {
  color: #404bbf;
}

.webstudio-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration-line: none;
}
.webstudio-logo .span-logo {
  color: #2e2f42;
}
.navigation-adres {
  font-style: normal;
}

.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration-line: none;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
.effective-solutions {
  background-color: #2e2f42;
}
.efective-solutions-titles {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.button-title {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button-title:hover,
button:focus {
  background-color: #404bbf;
}
.features-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2d2e41;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
}
.team-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2d2e41;
}
.team-position {
  text-align: center;
}
.team-list {
  background-color: #fff;
}
.team-name-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2d2e41;
}
.portfolio-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2d2e41;
}
.portfolio-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
}
.futer-fone {
  background-color: #2d2e41;
}
.webstudio-logo-futer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration-line: none;
}
.webstudio-logo-futer .span-logo-futer {
  color: #f4f4fd;
}
.futer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
